# for fastapi and mongodb
fastapi ==0.114.2
pymongo==4.7.2

# for uploading images
aiofiles==23.2.1

# for testing
pytest==8.2.2

# for authentication
PyJWT==2.8.0
pyotp==2.9.0
fastapi-mail==1.4.1

# for hashing
passlib[bcrypt]==1.7.4